@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --defaultDarkColor: #333;
  --defaultBrightColor: white;
  --primaryColor: #38a3a5;
  --smallFontSize: 20px;
  --mediumFontSize: 35px;
  --largeFontSize: 50px;
}

* {
  font-family: "Quicksand";
  color: var(--defaultColor);
}


html, body {
  margin: 0px;
  padding: 0px;
}

.content {
  padding: 20px;
}